body {
    padding-top: 65px;
  }

  .bg-dark { 
    background-color: #16191f  !important;
  }
  body, ul, li, p, a, label, input, div {
    font-family: 'Roboto', sans-serif;
    font-size: 18px !important;
    font-weight: 300 !important;
  }
  .h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 48px !important;
    font-weight: 200 !important;
  }
  .h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px !important;
    font-weight: 300;
  }
  .h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 22px !important;
  }
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
footer{
    margin-top: auto;
}


.img-max {
  max-width: 500px;
  width:100%;
  max-height: 500px;
  height: 100%;
}
.img-max-cards {
  max-width: 375px;
  width:100%;
  max-height: 375px;
  height: 100%;
}

